{% extends "base.html.twig" %}

{% block title %}
    Accueil
{% endblock %}

{% block content1 %}{% endblock %}
{% block about %}{% endblock %}
{% block contact %}{% endblock %}

{% block header %}
    <header class="masthead">
        <div class="container">
            <div class="masthead-subheading">Snowtricks</div>
            <div class="masthead-heading text-uppercase">Enfin un site pour les riders</div>
            {# <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a> #}
        </div>
    </header>
{% endblock %}

{% block content2 %}
    <!-- Portfolio Grid-->
    <section class="page-section bg-light" id="portfolio">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Derniers tricks</h2>
                {# <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> #}
            </div>
            <div class="row">
                {% for trick in tricks %}
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-toggle="modal">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <a href="{{ path('trick', {id: trick.id}) }}" >
                                <img class="img-fluid" src="/img_trick/{{ trick.getPhotos().first().path }}" alt="" />
                            </a>
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">{{ trick.name }}
                                {% if app.user != null %}
                                <a href="{{ path('updateTrick', {id: trick.id}) }}"><i class="fas fa-pencil-alt"></i></a>  |
                                <a href="{{ path('deleteTrick', {id: trick.id}) }}"><i class="fas fa-trash-alt"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
