{% extends "base.html.twig" %}

{% block title %}Snowtricks - {{ trick.name }}{% endblock %}

{% block header %}
    <!-- Masthead-->
    <header class="masthead">
        <div class="container">
            {% if trick.getPhotos().first() == false %}
                <img class="img-fluid" src="https://via.placeholder.com/600x400" alt="" />
            {% else %}
                <img class="img-fluid" src="/img_trick/{{ trick.getPhotos().first().path }}" alt="" />
            {% endif %}
        </div>
    </header>
{% endblock %}

{% block content1 %}{% endblock %}
{% block about %}{% endblock %}
{% block contact %}{% endblock %}

{% block content2 %}
    <!-- Portfolio Grid-->
    <section class="page-section bg-light" id="portfolio">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">{{ trick.name }}</h2>
            </div>
            <div class="row">
                {% for photo in trick.getPhotos() %}
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="portfolio-item">
                            <div class="portfolio-link" data-toggle="modal">
                                <img class="img-fluid" src="/img_trick/{{ photo.path }}" alt="" />
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% for video in trick.getVideos() %}
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-toggle="modal">
                                {# <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div> #}
                                <iframe width="450" height="250" src="{{ video.link }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </a>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <p>{{ trick.description }}</p>
            <p>Edité le {{ trick.getDateString() }}</p>
            {% if trick.getUpdateString() != null %}
                <p style="color: #17a2b8">Modifié le {{ trick.getUpdateString() }}</p>
            {% endif %}

            {% if app.user != null %}
            <a href="{{ path('updateTrick', {id: trick.id}) }}" class="float-right"><i class="fas fa-pencil-alt"></i>Modifier</a><br/>
                {{ form(form, {"attr": {"id":"contactForm"}} ) }}
            {% endif %}


            <h4 class="section-heading text-center col-lg-6">Commentaires</h4>
                <div class="col-lg-12 col-sm-6 mb-4">
                {% if comments == null %}
                    <p>Il n'y a pas encore de commentaire pour ce trick, connectez-vous pour pouvoir laisser un commentaire.</p>
                    {% else %}
                    {% for comment in comments %}
                        <p>{{ comment.getContent() }}</p>
                        <p><img height="40" src="https://eu.ui-avatars.com/api/?rounded=true&background=fed136&name={{ comment.getUser().getName() }}/"> {{ comment.getUser().getName() }} | {{ comment.getDateString() }}</p>
                    {% endfor %}
                {% endif %}
                </div>

        </div>
    </section>

{% endblock %}